# .gitignore

# Thank https://theapache64.github.io/git-do-not-ignore/
# */Core/Src/main.c
# */Build+Flash/Flash.bat
# */Build+Flash/*.bin
# */*.ioc
# */README.md
# */READMEfiles/*
# .gitignore
# */TestAlgoritm/*
# */tutorials/*

# ignore 

*/

*/.vscode/

!.gitignore

!*/*.ioc
!*/README.md
!*/READMEfiles/
!*/Core/Src/main.c
!*/Build+Flash/Flash.bat
!*/Build+Flash/*.bin

!*/TestAlgoritm/
*/TestAlgoritm/*.exe

!tutorials/
!tutorials/*/

