# .gitignore

# Thank https://theapache64.github.io/git-do-not-ignore/
# */Core/Src/main.c
# */Build+Flash/Flash.bat
# */Build+Flash/*.bin
# */*.ioc
# */README.md
# */READMEfiles/*
# .gitignore
# */TestAlgoritm/*
# */tutorials/*
.metadata
# ignore 
Лабораторні роботи з Мікроконтролерів 3к.pdf
.vscode

# */
!*/Flash.bat
*/.vscode/
*/.vscode/*s
stm32_practical.code-workspace

*/.metadata/
*/.settings/
*/Debug/
*/Drivers/
*/Core/Inc/
*/Core/Startup/
*/Core/Src/
*/Build+Flash/
*/Build+Flash/*
*/.cproject
*/.mxproject
*/.project
.project
*/*Debug.cfg
*/*Debug.launch
*/STM32F103C8TX_FLASH.ld


!.gitignore

!/1pr/askAnswer.md
!*/*.ioc
!*/README.md
!*/READMEfiles/
!*/READMEfiles/*
# Чого без 2 нижніх рядків 2pr/Core/Src/main.c ігнорується? :(
!*/Core/Src/
*/Core/Src/*
!*/Core/Src/main.c
!*/Build+Flash/Flash.bat
!*/Build+Flash/*.bin

!*/TestAlgoritm/
*/TestAlgoritm/*.exe

!tutorials/
!tutorials/*/

!2pr/Core/Src/main.c